<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <title>Random Quiz</title>
</head>
<style>
    body{
        margin:30px 30px;
        background:;
        }
    .quest-box{
        background:;
        }
    h5{
        white-space: pre-line;
        }
    .answer-box{
        background:;
        }
    a{
        margin-right:30px;
        display:inline-block;
        text-decoration:none;
        }
    form,span,td{
        float:right;
        }
        #nos,#noq{
        display: none;
        }

</style>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
 </script>
<script>
$( document ).ready(function(){
            //Perform Ajax request.
             var Nos=$('#nos').text();
             var NoQ=$('#noq').text();

                $.get(
                "/genPdf",
                {nos:Nos,noq:NoQ},
                function(data)
                {
                        alert("All set of Question paper are Saved!!!!");
                        alert("close the application and check your files");
                }
                );
        });

</script>

<body>
<header>
    MCQ QUESTIONS<span>SET {{alpha}}</span><br>
    <span id="nos">{{nos}}</span><span id="noq">{{noq}}</span> <br>
</header>

{% for k,v  in quest.items() -%}
<div class="quest-box">

                  <h5>
                   {{ loop.index }}  {{k}}
                  </h5>
                <div class="answer-box">

                    {% for ans in v -%}
                    <a class="">{{     ans   }}</a>
                    {% endfor %}
                </div>
</div>
<hr>
        {% endfor %}

</body>
</html>